{% extends 'index.html' %}

{% block header %}
  <h2>{% block title %}Locations{% endblock %}</h2>
{% endblock %}

{% block content %}
  <h3>Library Map</h3>
  <img src="{{url_for('static', filename='images/librarymap.png')}}" style="width:1100px;height:1200px;" />
  <span>

      <ul style="list-style-type: none; display: inline-block;">
        <h4>Upper level availability</h4>
        <li>Room 1</li>
        <li>Room 2</li>
        <li>Room 3</li>
      </ul>

      <ul style="list-style-type: none; display: inline-block;">
        <h4>Lower level availability</h4>
        <li>Room 4</li>
        <li>Room 5</li>
        <li>Room 6</li>
      </ul>
  <span>
{% endblock %}