{% extends 'index.html' %}

{% block header %}
  <h2>{% block title %}Locations{% endblock %}</h2>
{% endblock %}

{% block content %}
  <h3>Library Map</h3>
  <img src="{{url_for('static', filename='images/librarymap.jpg')}}" style="width:1100px;height:800px;" />
  <span>

      <ul style="list-style-type: none; display: inline-block;">
        <h4>Rooms available for Reservation</h4>
        <li>Room A</li>
        <li>Room E</li>
        <li>Room F</li>
        <li>Room G</li>
      </ul>
  <span>
{% endblock %}