{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Change Password{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="current_password">Current Password: </label>
    <input type="password" name="current_password" id="current_password" required>
      <br>
    <label for="new_password">New Password: </label>
    <input type="password" name="new_password" id="new_password" required>
      <br>
    <label for="confirm_new_password">Confirm New Password: </label>
    <input type="password" name="confirm_new_password" id="confirm_new_password" required>
      <br>
    <input type="submit" value="Change Password">
  </form>
{% endblock %}