{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}User Info{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <p>Hawk Email Address: {{ g.user['email_address'] }}</p>
      <br>
    <p>Username: {{ g.user['username'] }}</p>
      <br>
    <p>
      Password: <a href="{{ url_for('auth.change_password') }}"> <ins> Change Password </ins> </a>
    </p>
      <br>
    <p>Name: {{ g.user['name'] }}</p>
      <br>
      <br>

    <h2>Current Reservation</h2>
    {% for res in result %}
    <li> Building : {{res['building']}} | Room : {{res['room']}} | Start : {{res['start']}} | End : {{res['end']}}</li>
    {% endfor %}
  </form>
{% endblock %}