{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Room Report{% endblock %}</h1>
{% endblock %}

{% block content %}

<form>
    <label style="padding: 20px 50px 40px 120px;">Full Name:</label>
    <input type="text" id="funame" name="funame">
    <label style="padding: 0px 50px 40px 100px;">Reason for Report:</label>
    <input type="text" id="reason" name="reason"><br>
    <label style="padding: 0px 50px 40px 65px;">Damaged Room:</label>
    <input type="text" id="oname" name="oname">
    <label style="padding: 0px 50px 40px 50px;">Potential Offender Email:</label>
    <input type="text" id="omail" name="omail"><br>
    <label style="padding: 0px 0px 0px 105px;">Description:</label><br>
    <textarea style="margin-left:100px;" rows="5" cols="80" id="desc"></textarea><br>
</form>
    <a href="{{ url_for('r_s') }}">
        <input style="margin-left:100px; margin-top:20px;" type="submit">
    </a>
{% endblock %}