{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Rules and Policies{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h3 style=>HawkSpot Rules and Policies</h3>
  <ul style="font-family:courier;">
   <li>Rooms may be reserved from 30 minutes up to 2 hours at a time.</li>
    <li>Reservations are accepted up to 14 days in advance.</li>
    <li>Please limit to one reservation per person per day.</li>
    <li>Rooms should not be booked for job interviews or TA hours; please contact your department for those services.</li>
    <li>The person’s name that is under the reservation must check-in at the service desk with an IIT ID card at the start of the reservation.</li>
    <li>Reservations will be cancelled if the group is more than 15 minutes late for the reserved room and time.</li>
    <li>Dry-erase markers, erasers, and cables for presentation equipment are available for check out at the Information Desk. </li>
    <li>The person that made the reservation is in charge of the condition of the room.</li>
    <li>Do not move library furniture into study rooms or study room furniture out. </li>
    <li>Food and covered drinks are permitted. Be considerate of those using the room after your group and clean up after your group. Catered events are not permitted without prior approval.</li>
    <li>Rooms are not soundproof. Please be considerate. Voices should be kept at low, conversational levels.</li>
    <li>Do not leave the room unattended. The library is not responsible for the loss or theft of personal property. Items left unattended will be placed in Galvin Library lost and found.</li>
    <li>Library staff will check the condition of each room between groups.</li>
  </ul>

<div class = "contact">

<p><strong>For confirmation of rules, please contact <u><a href="mailto:wmalakhawk.iit.edu">wmalakhawk.iit.edu</a></u></strong></p>

</div>
{% endblock %}